body {
  background-color: aquamarine;
}

nav {
  background-color: #333;
  color: white;
  padding: 10px;
  
}

button {
  background-color: #d1a21f; /* Green */
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #45a049;
}

img {
  max-width: 45%;
  height: auto;
}